.c-container{
    justify-content: space-around;
    gap: 1rem;
}

.c-container>img{
    width: 13rem;
}

/* .partners{
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5));
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
  
  } */

.partners h1{
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  margin-top: 2rem;
  /* justify-content: center; */
  margin-left: 28rem;

}